.node {
    /* height: 54px; */
    box-sizing: border-box;
    flex: 1 1 0px;
    padding: 0px;
    margin: 0px;
    border-left: 0px solid #000;
    transition: all 0.3s;
    -webkit-box-shadow: inset -4px -6px 11px -8px rgba(54,54,54,1);
    -moz-box-shadow: inset -4px -6px 11px -8px rgba(54,54,54,1);
    box-shadow: inset -1px -1px 10px -8px #484848;
}

.visited {
    background: #d0d0d0;
}

.top {
    border-top: 1px solid #484848;
    
}

.left {
    border-left: 1px solid #484848;
}

.right {
    border-right: 1px solid #484848;
}

.bottom {
    border-bottom: 1px solid #484848;
}


.Ntop {
    border-top: 1px solid #d0d0d0;
    
}

.Nleft {
    border-left: 1px solid #d0d0d0;
}

.Nright {
    border-right: 1px solid #d0d0d0;
}

.Nbottom {
    border-bottom: 1px solid #d0d0d0;
}

.head {
    background: #b61717;
}